<html>

<body>
    {% if student_list %}
    <table border="1">
        <tr>
            <th>USN</th>
            <th>Courses Enrolled</th>
        </tr>
        {% for student in student_list %}
        <tr>
            <td><a href="/student_detail/{{student.pk}}">{{student.student_usn}}</a></td>
            <td>{% for course in student.enrolment.all %}
                <span>{{ course.course_name}}</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>No Students Enrolled</h1>
    {% endif %}
</body>

</html>