<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
</head>
<style type="text/css">
    nav {
        background-color: aquamarine;
        padding: 10px
    }
</style>

<body>
    <nav>
        <a href="/home/"> Home </a> |
        <a href="/aboutus/"> About Us </a> |
        <a href="/contactus/"> Contact Us </a> |
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <hr>
        &copy; Developed by Aamir
    </footer>
</body>

</html>